aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.13.3
annotated-types==0.7.0
anyio==4.6.0
apache-airflow==2.10.2
apache-airflow-providers-cncf-kubernetes==9.0.0
apache-airflow-providers-common-compat==1.2.0
apache-airflow-providers-common-io==1.4.1
apache-airflow-providers-common-sql==1.17.1
apache-airflow-providers-fab==1.4.0
apache-airflow-providers-ftp==3.11.1
apache-airflow-providers-http==4.13.1
apache-airflow-providers-imap==3.7.0
apache-airflow-providers-smtp==1.8.0
apache-airflow-providers-sqlite==3.9.0
apispec==6.6.1
argcomplete==3.5.1
asgiref==3.8.1
asttokens 
attrs==24.2.0
babel==2.16.0
blinker==1.8.2
bokeh 
Bottleneck 
Brotli 
cachelib==0.9.0
cachetools==5.5.0
catboost==1.2.7
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click 
clickclick==20.10.2
cloudpickle 
colorama==0.4.6
colorlog==6.8.2
comm 
ConfigUpdater==3.2
connexion==2.14.2
contourpy 
cramjam==2.8.4
cron-descriptor==1.4.5
croniter==3.0.3
cryptography==43.0.1
cycler==0.12.1
cytoolz 
dask 
dask-expr 
debugpy 
decorator 
Deprecated==1.2.14
dill==0.3.9
distributed 
dnspython==2.7.0
docutils==0.21.2
email_validator==2.2.0
exceptiongroup 
executing 
fastapi==0.115.0
fastapi-cli==0.0.5
fastparquet==2024.5.0
Flask==2.2.5
Flask-AppBuilder==4.5.0
Flask-Babel==2.0.0
Flask-Caching==2.3.0
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.8.0
Flask-Login==0.6.3
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
fonttools==4.54.1
frozenlist==1.4.1
fsspec 
google-auth==2.35.0
google-re2==1.1.20240702
googleapis-common-protos==1.65.0
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.66.2
gunicorn==23.0.0
h11==0.14.0
HeapDict 
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
idna==3.10
imbalanced-learn==0.12.4
imblearn==0.0
importlib_metadata==8.4.0
importlib_resources==6.4.5
inflection==0.5.1
ipykernel 
ipython 
itsdangerous==2.2.0
jedi 
Jinja2 
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client 
jupyter_core 
kiwisolver==1.4.7
kubernetes==30.1.0
kubernetes_asyncio==30.1.0
lazy-object-proxy==1.10.0
lightgbm==4.5.0
limits==3.13.0
linkify-it-py==2.0.3
llvmlite==0.43.0
lmdb 
locket 
lockfile==0.12.2
lz4 
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe 
marshmallow==3.22.0
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.28.2
matplotlib==3.9.2
matplotlib-inline 
mdit-py-plugins==0.4.2
mdurl==0.1.2
methodtools==0.4.7
more-itertools==10.5.0
msgpack 
multidict==6.1.0
nest_asyncio 
numba==0.60.0
numexpr 
numpy 
nvidia-nccl-cu12==2.23.4
oauthlib==3.2.2
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
optuna==4.0.0
ordered-set==4.1.0
orjson==3.10.10
packaging 
pandas 
parso 
partd 
pathspec==0.12.1
pendulum==3.0.0
pexpect 
pickleshare 
picle==0.7.3
pillow 
platformdirs 
plotly==5.24.1
pluggy==1.5.0
prison==0.2.1
prompt_toolkit 
propcache==0.2.0
protobuf==4.25.5
psutil 
ptyprocess 
pure_eval 
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic-extra-types==2.9.0
pydantic-settings==2.6.0
pydantic_core==2.23.4
Pygments 
PyJWT==2.9.0
pyparsing==3.1.4
PySocks 
python-daemon==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
python-nvd3==0.16.0
python-slugify==8.0.4
pytz 
PyYAML 
pyzmq 
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.9.2
rich-argparse==1.5.2
rpds-py==0.20.0
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
setproctitle==1.3.3
shap==0.46.0
shellingham==1.5.4
six 
slicer==0.0.8
sniffio==1.3.1
sortedcontainers 
SQLAlchemy==1.4.54
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.1
stack-data 
starlette==0.38.6
tabulate==0.9.0
tblib 
tenacity==9.0.0
termcolor==2.5.0
text-unidecode==1.3
threadpoolctl==3.5.0
time-machine==2.16.0
toolz 
tornado
tqdm==4.66.5
traitlets 
typer==0.12.5
typing_extensions 
tzdata==2024.2
uc-micro-py==1.0.3
ujson==5.10.0
unicodecsv==0.14.1
universal_pathlib==0.2.5
urllib3 
uvicorn==0.32.0
uvloop==0.21.0
watchfiles==0.24.0
wcwidth 
websocket-client==1.8.0
websockets==13.1
Werkzeug==2.2.3
wirerope==0.4.7
wrapt==1.16.0
WTForms==3.1.2
xgboost==2.1.2
xyzservices 
yarl==1.15.0
zict 
zipp 
